%div.toolbar
  %ul.actions
    %li
      %p= button_link_to t('.new_menu'), new_object_url, :icon => 'add'
  %br.clear
  
%h1= t('.listing_menus')

%p Tu jest coś - działa jako moje pierwsze exension do spree!

= render :partial => 'spree/admin/shared/spree_menus_sidebar'
    